body {
  --nav-width: 200px;
  margin: 0 var(--nav-width);
  font-family: 'inter', sans-serif;
  font-size: 18px;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  left: 0;
  width: 100vw;
}

.nav_links {
  display: flex;
  background: #222222cc;
  border-radius: 20px;
  padding: 8px;
  gap: 8px;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
  transition: all 200ms;
  border-radius: 12px;
}

.nav__link:hover {
  background: #222;
  border-radius: 12px;
  text-decoration: none;
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #1db954;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

li {
  font-size: 12px;
}
