:root {
  --primary-color: #1db954;
  --primary-white: #fff;
  --primary-black: #191414;
  --secondary-color: #400072;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme='dark'] {
  --primary-color: #400072;
  --primary-white: #fff;
  --primary-black: #191414;
  --secondary-color: #1db954;
  --font-color: #e1e1ff;
  --bg-color: #121212;
  --bg-color--light: #151515;
  --heading-color: #818cab;
}

body {
  --nav-width: 100px;
  margin: 0 var(--nav-width);
  font-family: 'inter', sans-serif;
  font-size: 18px;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 5%;
  left: 0;
  width: 100vw;
}

.nav_links {
  display: flex;
  background: #222222cc;
  border-radius: 20px;
  padding: 8px;
  gap: 8px;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
  transition: all 200ms;
  border-radius: 12px;
}

.nav__link:hover {
  background: #222;
  border-radius: 12px;
  text-decoration: none;
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

li {
  font-size: 12px;
}

#trackList {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 12px;
  overflow: scroll;
}

.track-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.track-item:hover {
  background-color: #f0f0f0;
}

.track-item-info {
  width: 100%;
}

.track-item-info-title {
  font-size: 1rem;
}

.track-item-info-popularity .track-item-info-artist {
  font-size: 0.8rem;
  color: #111;
}

.track-item-image {
  width: 340px !important;
  border-radius: 6px;
}

genre-alternative-rock {
  transition: background-color 0.3s ease;
}

.genre-alternative-rock:hover {
  background-color: #ff6f61;
}

.genre-ambient-folk {
  transition: background-color 0.3s ease;
}

.genre-ambient-folk:hover {
  background-color: #ff9a8b;
}

.genre-modern-rock {
  transition: background-color 0.3s ease;
}

.genre-modern-rock:hover {
  background-color: #ffb6c1;
}

.genre-electro-house {
  transition: background-color 0.3s ease;
}

.genre-electro-house:hover {
  background-color: #6495ed;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-left-color: var(--primary-color);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
